@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <p>Employees-Create <a href="https://localhost:7246/employees/create">building Web apps with ASP.NET Core</a>.</p>
    <p>List Of Employees (Read) <a href="https://localhost:7246/employees/read">building Web apps with ASP.NET Core</a>.</p>
    <p>Employees-Update <a href="https://localhost:7246/employees/update">building Web apps with ASP.NET Core</a>.</p>


</div>
